@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  min-height: 100vh;
  background-color: #b7c1fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section .login-container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section .login-container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .login-container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #677eff;
  transition: 0.5s;
}

section .login-container .user .imgBx img {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  object-fit: cover;
}

section .login-container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .login-container .user .formBx form h2 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .login-container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.btn{
  background-color: #677eff;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
  max-width: 110px;
  margin-top: 15px;
}
.btn:hover{
  background-color: #2b49f5;
}
.loading-btn{
  background-color: rgba(103, 126, 255, 0.7);
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
  max-width: 110px;
  margin-top: 15px;
}
.fa {
  margin-right: 8px;
}

section .login-container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

section .login-container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}
section .login-container .user .formBx form .signup a:hover {
  color: #2b49f5;
  font-weight: 700;
}

section .login-container .signupBx {
  pointer-events: none;
}

section .login-container.active .signupBx {
  pointer-events: initial;
}

section .login-container .signupBx .formBx {
  left: 100%;
}

section .login-container.active .signupBx .formBx {
  left: 0;
}

section .login-container .signupBx .imgBx {
  left: -100%;
}

section .login-container.active .signupBx .imgBx {
  left: 0%;
}

section .login-container .signinBx .formBx {
  left: 0%;
}

section .login-container.active .signinBx .formBx {
  left: 100%;
}

section .login-container .signinBx .imgBx {
  left: 0%;
}

section .login-container.active .signinBx .imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  section .login-container {
    max-width: 400px;
  }

  section .login-container .imgBx {
    display: none;
  }

  section .login-container .user .formBx {
    width: 100%;
  }
}
.image {
    width: 200px;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
}
.errormsg{
  color: red;
}